*{
   padding: 0;
   margin: 0; 
}
main{
    background-image: url("images/bg.jpg");
    height: 100vh;
}
main .box{
    width: 100%;
    height: 80vh;
    background-color: black;
    opacity: 0.1;
}